* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/background.jpg);
    font-family: 'Langar', cursive;
}

.container {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.main-container {
    background-color: rgba(215, 228, 144, 0.9);
    justify-content: center;
}

.side-column {
    text-align: center;
    justify-content: center;
    min-height: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: rgb(138, 153, 65);
}

.content-container {
    padding: 5vh;
}

h1 {
    font-size: 3rem;
    text-align: center;
    justify-content: center;
}

h5 {
    line-height: 1.5em;
}

button {
    max-width: 70% !important;
    font-size: 2rem;
    border: none;
    transition: ease-in 0.5s;
    opacity: 90%;
    border-radius: 1%;
    border: 1px solid rgb(215, 228, 144);
}

button:focus {
    outline: none;
}

button:hover {
    transition: transform 0.5s;
    transform: translateY(-5px);
    opacity: 100%;
}

img {
    width: 100px;
    height: 100px;
    padding: 0.5rem;
}

.place-name {
    padding-top: 5vh;
    min-height: 10vh;
    text-decoration: underline;
}

.place-decription {
    min-height: 15vh;
}

.place-map {
    min-height: 50vh;
    background-image: url(img/fox.png);
    background-repeat: no-repeat;
    background-position: center
}

.g-frame {
    min-height: 50vh;
}

.shining-button {
    animation: shine 1s infinite;
    animation-delay: 1s;
    background-color:rgb(255, 224, 179);
}

@keyframes shine {
    0%   {background-color: rgb(255, 212, 147)}
    50%  {background-color: rgb(255, 190, 92)}
    100% {background-color:rgb(255, 212, 147)}
}

.normal-button {
    transition: ease-in 1s;
    background-color:rgb(255, 224, 179);
}

